body{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: system-ui;
    gap: 10px;
}

button{
    appearance: none;
    border-radius: 20%;
    background: none;
    display: block;
    padding: 0;
    font-size: large;
}
.headOfCalendar {
    display: grid;
    grid-template-columns: 78% 22%;
    width: 240px;
    font-size: large;
    border: 2px black solid;
    padding: 10px;
    border-radius: 15px;
    gap: 1px;
}

.headOfCalendar div {
    font-size: large;
    text-align: center;
    border: 3px black solid;
    border-radius: 25px;
    padding: 10px;
    background-color: black;
    color: #f1f1f1;
    font-weight: 900;
}

.bodyOfCalendar {
    width: 240px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
    font-size: large;
    border: 2px black solid;
    padding: 10px;
    border-radius: 15px;
    justify-items: center;
    align-items: center;
}

.calendar{
    background-color: #f1f1f1;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}
.monthYear {
    grid-column: span 7 / span 7;
    font-size: x-large;
    font-weight: 600;
}

.days {
    grid-column: span 7 / span 7;
    grid-row-start: 2;
    letter-spacing: 8px;
    border: 3px black solid;
    border-radius: 25px;
    padding: 5px;
    background-color: black;
    color: #f1f1f1;
    font-weight: 600;
}